@media (min-width: 1200px)
    .footer
        &_links
            &_1row
                &_item_1
                    margin-right: 38px
            &_2row
                &_item_2
                    margin-right: 14px
        &_store
            margin-right: 43px
            

@media (max-width: 1199px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
 
    .main
        &_header
            font-size: 50px
        &_subheader
            font-size: 30px
    
    .section_header_big
        font-size: 32px
    .advantages
        .adv_item
            &_wrapper
                width: 308px
    
    .mobile
        &_item
            width: 270px
            height: 260px
            &_text
                font-size: 20px
            &_plus
                top: 191px
    .require
        &_footer
            br
                display: none
    
    .footer
        &_links
            &_1row_item_1
                margin-right: 15px
            &_2row_item_2
                margin-right: 6px
                font-size: 10px
        &_wrapper>div
            &:nth-child(3)
                margin-right: 10px
        &_store
            img
                width: 276px

@media (max-width: 991px)
    .section_header_big
        font-size: 27px
    .menu
        position: fixed
        left: -50%
        width: 50%
        flex-direction: column
        align-items: center
        justify-content: center
        background-color: rgba(0, 0, 0, 0.9)
        height: 100vh
        transition: .5s all
        &_item
            margin-bottom: 10px
            width: 100%
            text-align: center
            padding: 5px 0
        &_active
            left: 0
        &_link
            display: block

    header
        position: relative
        .hamburger
            position: absolute
            top: 50%
            right: 5%
            transform: translateY(-50%)
            span
                display: block
                width: 15px
                height: 2px
                background-color: #fff
                margin-bottom: 2px

                
            &_active
                span
                    margin-bottom: -2px
                    &:nth-child(1)
                        transform: rotate(-45deg)
                        transition: .1s all
                    
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: rotate(45deg)
                        transition: .1s all
    
    .subheader
        &_official
            font-size: 11px
        &_btn
            &:hover
                background-image: linear-gradient(to top, $color-blue 0%, #4ce2ff 100%)
    
    .main
        &_header
            font-size: 35px
        &_subheader
            font-size: 22px
        &_btn
            &:hover
                background-image: linear-gradient(to top, $color-blue 0%, #4ce2ff 100%)
    
    .advantages
        .adv_item
            flex-direction: column
            align-items: center
            &_wrapper
                margin-top: 20px
    
    .choice
        &_car
            width: 100%
            img
                width: 80%
                display: block
                margin: 0 auto
    
   
    .require
        &_header
            font-size: 20px
        &_content
            li
                font-size: 15px
    
    .footer
        &_wrapper
            flex-direction: column
            align-items: center
        &_wrapper>div
            &:nth-child(1)
                width: 27%
                margin-bottom: 20px
            &:nth-child(2)
                width: 44%
                margin-bottom: 20px
            &:nth-child(3)
                width: 42%
                margin-bottom: 20px
        &_links
            &_1row
                margin-bottom: 12px
            &_2row
                margin-bottom: 0px
        &_socials
            justify-content: center
        &_store
            margin: 0 auto

@media (max-width: 767px)
    .menu
        padding: 0
        &_active
            left: 0
        
    .subheader
        &_official
            display: none
        &_callus
            display: none
        &_tel
            line-height: 20px
            margin-top: 10px
        &_btn
            margin: 10px 0 0 75px
            height: 34px
    
    .main
        min-height: 400px
        &_header
            font-size: 46px
        &_subheader
            font-size: 28px
            margin-top: 35px
        &_content
            display: none
        &_btn
            margin: 72px auto 0 auto
    
    .advantages
        .adv_item
            &_wrapper
                width: 100%

    .choice
        &_text
            display: none


    .xs-hidden
        display: none
    .xs-visible
        display: block
    .footer
        &_wrapper>div
            &:nth-child(1)
                width: 35%
                margin-bottom: 20px
            &:nth-child(2)
                width: 58%
                margin-bottom: 20px
            &:nth-child(3)
                width: 58%
                margin-bottom: 20px
        &_socials
            justify-content: center
        &_store
            margin: 0 auto
    
@media (max-width: 575px)
    nav
        width: 100%
    .subheader
        height: 63px
        &_logo
            img
                width: 100%
        &_tel
            font-size: 16px
            text-align: center
        &_btn
            display: block
            width: 135px
            height: 22px
            margin: 0 auto
            font-size: 12px
    .menu
        width: 85%
        left: -85%
        &_active
            left: 0
            
    .main
        padding: 105px 0 56px 0
        &_header
            font-size: 29px
            line-height: 39px
        &_subheader
            font-size: 19px
            margin-top: 27px
        &_btn
            margin: 44px auto 0 auto
            width: 200px
            height: 50px
            font-size: 15px
    .advantages
        padding: 39px 0 0 0
    .section_header_big
        font-size: 24px
    .section_subheader_big
        font-size: 14px
    
    .require
        padding: 32px 0 45px 0
    
    .world
        min-height: 360px
        &_link
            margin-top: 100px
            font-size: 12px

    .footer
        &_wrapper>div
            &:nth-child(1)
                width: 61%
                margin-bottom: 20px
            &:nth-child(2)
                width: 100%
                margin-bottom: 20px
            &:nth-child(3)
                width: 100%
                margin: 0 0 20px 25px
        &_socials
            justify-content: center
        &_store
            margin: 0 auto
        &_links
            &_1row
                &_item_1
                  font-size: 12px
                
            &_2row
                &_item_2
                    margin-right: 3px